.Container {
  text-align: center;
  margin: 100px auto;
  width: 30%;
  border: 2px solid black;
  border-radius: 15px;
  padding: 2%;

}
input,.Inner-Container{
  width: 100%;
}
nav {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  min-height: 12vh;
  background-color: bisque;
  color: rgb(15, 39, 39);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.login{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

form{ 
  border: 2px solid black;
  border-radius: 15px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 7%;
}

li{
  font-size: 18px;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

